body {
  font-family: Azeret Mono;
}
.display-1 {
  font-family: 'Azeret Mono', monospace;
  font-size: 4.6rem;
  line-height: 70px;
  letter-spacing: 0.08em;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Azeret Mono', monospace;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  line-height: 34px;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Azeret Mono', monospace;
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 0.08em;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  line-height: 34px;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 80px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 80px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 80px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 80px;
}
.bg-primary {
  background-color: #191919 !important;
}
.bg-success {
  background-color: #464646 !important;
}
.bg-info {
  background-color: #191919 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #191919 !important;
  border-color: #191919 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e8ebe8 !important;
  border-color: #e8ebe8 !important;
  color: #637163 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #bac3ba !important;
  border-color: #bac3ba !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #637163 !important;
  background-color: #bac3ba !important;
  border-color: #bac3ba !important;
}
.btn-info,
.btn-info:active {
  background-color: #191919 !important;
  border-color: #191919 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #464646 !important;
  border-color: #464646 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #1b1b1b !important;
  border-color: #1b1b1b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1b1b1b !important;
  border-color: #1b1b1b !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #191919 !important;
  border-color: #191919 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #191919;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e8ebe8;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #bac3ba !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #637163 !important;
  background-color: #e8ebe8 !important;
  border-color: #e8ebe8 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #191919;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #464646;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #1b1b1b !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #464646 !important;
  border-color: #464646 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #191919;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #191919 !important;
}
.text-secondary {
  color: #e8ebe8 !important;
}
.text-success {
  color: #464646 !important;
}
.text-info {
  color: #191919 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #191919 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #b1bcb1 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #131313 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-color: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #191919;
}
.nav-tabs .nav-link:not(.active) {
  color: #191919;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #191919;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #191919;
  border-color: #191919;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #191919;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #cbcbcb;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b9b9b9;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #cbcbcb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control::-webkit-input-placeholder {
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}
.form-control::-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #191919;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #191919;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #191919;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #191919;
  border-bottom-color: #191919;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #191919 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #e8ebe8 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23191919' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sLQJNl6WCd .navbar-dropdown {
  position: relative !important;
}
.cid-sLQJNl6WCd .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sLQJNl6WCd .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #e8ebe8 !important;
}
.cid-sLQJNl6WCd .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sLQJNl6WCd .dropdown-item:hover,
.cid-sLQJNl6WCd .dropdown-item:focus {
  background: #191919 !important;
  color: white !important;
}
.cid-sLQJNl6WCd .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sLQJNl6WCd .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sLQJNl6WCd .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sLQJNl6WCd .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sLQJNl6WCd .nav-link {
  position: relative;
}
.cid-sLQJNl6WCd .container {
  display: flex;
  margin: auto;
}
.cid-sLQJNl6WCd .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sLQJNl6WCd .nav-item:focus,
.cid-sLQJNl6WCd .nav-link:focus {
  outline: none;
}
.cid-sLQJNl6WCd .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sLQJNl6WCd .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sLQJNl6WCd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sLQJNl6WCd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sLQJNl6WCd .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sLQJNl6WCd .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sLQJNl6WCd .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 2px solid #191919;
  background: #e8ebe8;
}
.cid-sLQJNl6WCd .navbar.opened {
  transition: all 0.3s;
}
.cid-sLQJNl6WCd .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sLQJNl6WCd .navbar .navbar-logo img {
  min-width: 50px;
  min-height: 50px;
  border-radius: 10px;
}
.cid-sLQJNl6WCd .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sLQJNl6WCd .navbar.collapsed {
  justify-content: center;
}
.cid-sLQJNl6WCd .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sLQJNl6WCd .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sLQJNl6WCd .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sLQJNl6WCd .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sLQJNl6WCd .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sLQJNl6WCd .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sLQJNl6WCd .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sLQJNl6WCd .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sLQJNl6WCd .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sLQJNl6WCd .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sLQJNl6WCd .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sLQJNl6WCd .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sLQJNl6WCd .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sLQJNl6WCd .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sLQJNl6WCd .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sLQJNl6WCd .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sLQJNl6WCd .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-sLQJNl6WCd .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sLQJNl6WCd .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sLQJNl6WCd .navbar.navbar-short {
  min-height: 60px;
}
.cid-sLQJNl6WCd .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sLQJNl6WCd .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sLQJNl6WCd .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sLQJNl6WCd .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sLQJNl6WCd .navbar-brand .navbar-logo a {
  outline: none;
}
@media (max-width: 375px) {
  .cid-sLQJNl6WCd .navbar-brand {
    width: 85%;
  }
}
.cid-sLQJNl6WCd .dropdown-item.active,
.cid-sLQJNl6WCd .dropdown-item:active {
  background-color: transparent;
}
.cid-sLQJNl6WCd .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sLQJNl6WCd .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sLQJNl6WCd .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sLQJNl6WCd .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #e8ebe8;
}
.cid-sLQJNl6WCd .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sLQJNl6WCd .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sLQJNl6WCd ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sLQJNl6WCd .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sLQJNl6WCd button.navbar-toggler {
  outline: none;
  width: 25px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sLQJNl6WCd button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #191919;
}
.cid-sLQJNl6WCd button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sLQJNl6WCd button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sLQJNl6WCd button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sLQJNl6WCd button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sLQJNl6WCd nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sLQJNl6WCd nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sLQJNl6WCd nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sLQJNl6WCd nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sLQJNl6WCd .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sLQJNl6WCd a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sLQJNl6WCd .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sLQJNl6WCd .navbar {
    height: 70px;
  }
  .cid-sLQJNl6WCd .navbar.opened {
    height: auto;
  }
  .cid-sLQJNl6WCd .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sMyEBEM0DU {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e8ebe8;
}
.cid-sMyEBEM0DU .header-title {
  height: 100%;
  position: relative;
  width: 180%;
  padding: 20% 45% 20% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-sMyEBEM0DU .header-button {
  width: 100%;
  height: 100%;
}
.cid-sMyEBEM0DU .header-button a {
  width: 300px;
  height: 76px;
}
.cid-sMyEBEM0DU .image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-sMyEBEM0DU .header-ml {
  margin-left: -40px;
}
@media (max-width: 992px) {
  .cid-sMyEBEM0DU .header-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .cid-sMyEBEM0DU .header-ml {
    margin-left: 0;
  }
  .cid-sMyEBEM0DU .header-title {
    width: 100%;
    padding: 30px 0;
  }
}
@media (max-width: 768px) {
  .cid-sMyEBEM0DU .header-button a {
    width: 200px;
    height: 60px;
  }
}
.cid-sMyDNCuPJt {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e8ebe8;
}
.cid-sMyDNCuPJt .list-border {
  border-bottom: 2px solid #191919;
}
.cid-sMyDNCuPJt .mbr-text {
  padding-bottom: 40px;
}
.cid-sMyDNCuPJt .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-sMyDNCuPJt .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-sMyDNCuPJt .counter-container ol li {
  list-style: none;
  padding-left: 1rem;
  position: relative;
}
.cid-sMyDNCuPJt .counter-container ol li a:hover {
  opacity: .85;
}
.cid-sMyDNCuPJt .counter-container ol li:before {
  position: absolute;
  left: -40px;
  margin-top: 5px;
  counter-increment: myCounter;
  content: counter(myCounter);
  line-height: 40px;
  transition: all .2s;
  color: #ffffff;
  background: #191919;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sLQDnEzPBP {
  background-color: #e8ebe8;
}
.cid-sLQDnEzPBP .info-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.cid-sLQDnEzPBP .info-cont p:hover {
  opacity: .85;
}
@media (max-width: 991px) {
  .cid-sLQDnEzPBP .info-cont {
    display: block;
  }
}
.cid-sMyDYrRwuO {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e8ebe8;
}
.cid-sMyDYrRwuO .features-border {
  border-bottom: 2px solid #191919;
}
.cid-sMyDYrRwuO .features-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 80px 0;
}
.cid-sMyDYrRwuO .features-img {
  width: 100%;
  position: relative;
  padding: 40px 70px;
  background-color: #000000;
}
.cid-sMyDYrRwuO .features-img img {
  transition: all .5s ease;
}
.cid-sMyDYrRwuO .features-img img:hover {
  transform: scale3d(1.1, 1.1, 1);
}
.cid-sMyDYrRwuO .features-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-sMyDYrRwuO .features-link {
  transition: transform .5s ease;
}
.cid-sMyDYrRwuO .features-link span {
  margin-left: 5px;
  transition: transform .5s ease;
}
.cid-sMyDYrRwuO .features-link:hover {
  opacity: .85;
}
.cid-sMyDYrRwuO .features-link:hover span {
  margin-left: 8px;
}
.cid-sMyDYrRwuO .mbr-text p {
  margin-top: 6px;
}
.cid-sMyDYrRwuO .features-button {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.cid-sMyDYrRwuO .features-button a {
  width: 430px;
  height: 74px;
}
@media (max-width: 991px) {
  .cid-sMyDYrRwuO .features-card {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .cid-sMyDYrRwuO .features-card {
    padding: 40px 0;
  }
  .cid-sMyDYrRwuO .features-button a {
    width: 330px;
    height: 64px;
  }
}
@media (max-width: 623px) {
  .cid-sMyDYrRwuO .features-img {
    padding: 20px 50px;
  }
}
@media (max-width: 425px) {
  .cid-sMyDYrRwuO .features-img {
    padding: 10px 30px;
  }
  .cid-sMyDYrRwuO .features-button {
    margin-bottom: 40px;
  }
  .cid-sMyDYrRwuO .features-button a {
    width: 230px;
    height: 54px;
  }
}
@media (max-width: 320px) {
  .cid-sMyDYrRwuO .features-button a {
    width: 200px;
    height: 50px;
  }
}
.cid-sMyDZR9f6Z {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e8ebe8;
}
.cid-sMyDZR9f6Z .features-border {
  border-bottom: 2px solid #191919;
}
.cid-sMyDZR9f6Z .features-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 80px 0;
}
.cid-sMyDZR9f6Z .features-img {
  width: 100%;
  position: relative;
  padding: 40px 70px;
  background-color: #000000;
}
.cid-sMyDZR9f6Z .features-img img {
  transition: all .5s ease;
}
.cid-sMyDZR9f6Z .features-img img:hover {
  transform: scale3d(1.1, 1.1, 1);
}
.cid-sMyDZR9f6Z .features-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-sMyDZR9f6Z .features-link {
  transition: transform .5s ease;
}
.cid-sMyDZR9f6Z .features-link span {
  margin-left: 5px;
  transition: transform .5s ease;
}
.cid-sMyDZR9f6Z .features-link:hover {
  opacity: .85;
}
.cid-sMyDZR9f6Z .features-link:hover span {
  margin-left: 8px;
}
.cid-sMyDZR9f6Z .mbr-text p {
  margin-top: 6px;
}
.cid-sMyDZR9f6Z .features-button {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.cid-sMyDZR9f6Z .features-button a {
  width: 430px;
  height: 74px;
}
@media (max-width: 991px) {
  .cid-sMyDZR9f6Z .features-card {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .cid-sMyDZR9f6Z .features-card {
    padding: 40px 0;
  }
  .cid-sMyDZR9f6Z .features-button a {
    width: 330px;
    height: 64px;
  }
}
@media (max-width: 623px) {
  .cid-sMyDZR9f6Z .features-img {
    padding: 20px 50px;
  }
}
@media (max-width: 425px) {
  .cid-sMyDZR9f6Z .features-img {
    padding: 10px 30px;
  }
  .cid-sMyDZR9f6Z .features-button {
    margin-bottom: 40px;
  }
  .cid-sMyDZR9f6Z .features-button a {
    width: 230px;
    height: 54px;
  }
}
@media (max-width: 320px) {
  .cid-sMyDZR9f6Z .features-button a {
    width: 200px;
    height: 50px;
  }
}
.cid-sMyE0A9Wdq {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e8ebe8;
}
.cid-sMyE0A9Wdq .features-border {
  border-bottom: 2px solid #191919;
}
.cid-sMyE0A9Wdq .features-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 80px 0;
}
.cid-sMyE0A9Wdq .features-img {
  width: 100%;
  position: relative;
  padding: 40px 70px;
  background-color: #000000;
}
.cid-sMyE0A9Wdq .features-img img {
  transition: all .5s ease;
}
.cid-sMyE0A9Wdq .features-img img:hover {
  transform: scale3d(1.1, 1.1, 1);
}
.cid-sMyE0A9Wdq .features-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-sMyE0A9Wdq .features-link {
  transition: transform .5s ease;
}
.cid-sMyE0A9Wdq .features-link span {
  margin-left: 5px;
  transition: transform .5s ease;
}
.cid-sMyE0A9Wdq .features-link:hover {
  opacity: .85;
}
.cid-sMyE0A9Wdq .features-link:hover span {
  margin-left: 8px;
}
.cid-sMyE0A9Wdq .mbr-text p {
  margin-top: 6px;
}
.cid-sMyE0A9Wdq .features-button {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.cid-sMyE0A9Wdq .features-button a {
  width: 430px;
  height: 74px;
}
@media (max-width: 991px) {
  .cid-sMyE0A9Wdq .features-card {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .cid-sMyE0A9Wdq .features-card {
    padding: 40px 0;
  }
  .cid-sMyE0A9Wdq .features-button a {
    width: 330px;
    height: 64px;
  }
}
@media (max-width: 623px) {
  .cid-sMyE0A9Wdq .features-img {
    padding: 20px 50px;
  }
}
@media (max-width: 425px) {
  .cid-sMyE0A9Wdq .features-img {
    padding: 10px 30px;
  }
  .cid-sMyE0A9Wdq .features-button {
    margin-bottom: 40px;
  }
  .cid-sMyE0A9Wdq .features-button a {
    width: 230px;
    height: 54px;
  }
}
@media (max-width: 320px) {
  .cid-sMyE0A9Wdq .features-button a {
    width: 200px;
    height: 50px;
  }
}
.cid-sLQF1h8UGa {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e8ebe8;
}
.cid-sLQF1h8UGa .info-border {
  padding: 0 0 200px;
  border-bottom: #191919 2px solid;
}
.cid-sLQF1h8UGa .info-img {
  margin-top: 80px;
  position: relative;
}
.cid-sLQF1h8UGa .info-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}
@media (max-width: 991px) {
  .cid-sLQF1h8UGa .info-wrapper {
    margin-top: 30px;
  }
  .cid-sLQF1h8UGa .info-border {
    padding-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .cid-sLQF1h8UGa .info-img {
    margin-top: 60px;
  }
}
@media (max-width: 425px) {
  .cid-sLQF1h8UGa .info-img {
    margin-top: 30px;
  }
  .cid-sLQF1h8UGa .info-border {
    padding-bottom: 50px;
  }
  .cid-sLQF1h8UGa .info-wrapper {
    margin-top: 20px;
  }
}
@media (max-width: 320px) {
  .cid-sLQF1h8UGa .info-img {
    margin-top: 0;
  }
}
.cid-sMS5gykDfn {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e8ebe8;
}
.cid-sMS5gykDfn .carousel {
  height: 800px;
}
.cid-sMS5gykDfn .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-sMS5gykDfn .carousel-item,
.cid-sMS5gykDfn .carousel-inner {
  height: 100%;
}
.cid-sMS5gykDfn .carousel-caption {
  bottom: 40px;
}
.cid-sMS5gykDfn .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sMS5gykDfn .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sMS5gykDfn .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sMS5gykDfn .item-wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sMS5gykDfn .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sMS5gykDfn .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sMS5gykDfn .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sMS5gykDfn .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sMS5gykDfn .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sMS5gykDfn .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sMS5gykDfn .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sMS5gykDfn .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sMS5gykDfn .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sMS5gykDfn .carousel-indicators li.active,
.cid-sMS5gykDfn .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sMS5gykDfn .carousel-indicators li::after,
.cid-sMS5gykDfn .carousel-indicators li::before {
  content: none;
}
.cid-sMS5gykDfn .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sMS5gykDfn .carousel-indicators {
    display: none !important;
  }
}
.cid-sMS5gykDfn .carousel img {
  object-fit: contain;
}
.cid-sMyF6M0n7i {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e8ebe8;
}
.cid-sMyF6M0n7i .contact-border {
  border-bottom: 2px solid #191919;
}
.cid-sMyF6M0n7i .contact-decoration {
  color: #e8ebe8;
  font-size: 150px;
  line-height: 180px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #babbbd, -1px 0 0 #babbbd, 1px 0 0 #babbbd, 0 -1px 0 #babbbd;
  text-align: center;
}
.cid-sMyF6M0n7i .contact-border {
  padding: 80px 0;
}
.cid-sMyF6M0n7i .contact-button {
  width: 430px;
  height: 74px;
}
@media (max-width: 991px) {
  .cid-sMyF6M0n7i .contact-decoration {
    font-size: 90px;
    line-height: 150px;
  }
}
@media (max-width: 768px) {
  .cid-sMyF6M0n7i .contact-decoration {
    font-size: 68px;
    line-height: 90px;
  }
  .cid-sMyF6M0n7i .contact-button {
    width: 330px;
    height: 74px;
  }
  .cid-sMyF6M0n7i .contact-border {
    padding: 60px 0;
  }
}
@media (max-width: 425px) {
  .cid-sMyF6M0n7i .contact-decoration {
    font-size: 40px;
    line-height: 70px;
  }
  .cid-sMyF6M0n7i .contact-button {
    width: 250px;
    height: 64px;
  }
  .cid-sMyF6M0n7i .contact-border {
    padding: 40px 0;
  }
}
@media (max-width: 375px) {
  .cid-sMyF6M0n7i .contact-decoration {
    font-size: 35px;
  }
}
@media (max-width: 320px) {
  .cid-sMyF6M0n7i .contact-decoration {
    font-size: 28px;
  }
  .cid-sMyF6M0n7i .contact-button {
    width: 220px;
    height: 60px;
  }
  .cid-sMyF6M0n7i .contact-container {
    padding: 20px 0;
  }
}
.cid-sMRS9zIoWn {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e8ebe8;
}
.cid-sMRS9zIoWn .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sMRS9zIoWn .form-control {
  border-bottom: 2px solid #191919 !important;
}
.cid-sMRS9zIoWn .form-control {
  box-shadow: none;
  background-color: #e8ebe8;
  padding: 40px 40px 40px 10px;
  border-radius: 0;
}
.cid-sMRS9zIoWn .form-control.area {
  min-height: 156px;
}
.cid-sMRS9zIoWn .form-button {
  margin-top: 48px;
  height: 74px;
  width: 320px;
}
.cid-sMRS9zIoWn .form-check-input:checked {
  background-color: #191919;
  border-color: #191919;
}
.cid-sMRS9zIoWn .form-check-input:focus {
  border-color: #191919;
  box-shadow: none;
}
@media (max-width: 425px) {
  .cid-sMRS9zIoWn .form-button {
    margin-top: 38px;
    height: 64px;
    width: 220px;
  }
}
@media (max-width: 320px) {
  .cid-sMRS9zIoWn .form-button {
    margin-top: 38px;
    height: 64px;
    width: 215px;
  }
}
.cid-sMcvvk3sW4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e8ebe8;
}
.cid-sMcvvk3sW4 .map-border {
  border-bottom: 2px solid #191919;
}
.cid-sMcvvk3sW4 .google-map iframe {
  height: 500px;
}
.cid-sMcvvk3sW4 .map-border {
  padding-bottom: 80px;
}
@media (max-width: 425px) {
  .cid-sMcvvk3sW4 .google-map iframe {
    height: 250px;
  }
}
.cid-sMyEkFmYZ3 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e8ebe8;
}
.cid-sMyEkFmYZ3 .footer-wrap {
  margin-top: -2px;
  border-top: 2px solid #191919;
  border-bottom: 2px solid #191919;
}
.cid-sMyEkFmYZ3 .footer-services {
  padding: 80px 32px 80px 0;
  border-right: 2px solid #191919;
}
.cid-sMyEkFmYZ3 .footer-services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cid-sMyEkFmYZ3 .footer-services-container ul {
  padding: 0;
  margin: 0;
}
.cid-sMyEkFmYZ3 .footer-services-container ul:nth-child(1) {
  margin-right: 70px;
}
.cid-sMyEkFmYZ3 .footer-services-container ul li {
  list-style-type: none;
}
.cid-sMyEkFmYZ3 .footer-services-container ul li a {
  width: 100%;
  transition: opacity .2s ease;
}
.cid-sMyEkFmYZ3 .footer-services-container ul li a:hover {
  opacity: .85;
}
.cid-sMyEkFmYZ3 .footer-links {
  padding: 80px 0;
}
.cid-sMyEkFmYZ3 .footer-links p {
  padding-left: 60px;
}
.cid-sMyEkFmYZ3 .footer-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cid-sMyEkFmYZ3 .footer-links-container ul {
  padding-left: 0px;
  margin: 0;
}
.cid-sMyEkFmYZ3 .footer-links-container ul:nth-child(2) {
  margin-left: 60px;
}
.cid-sMyEkFmYZ3 .footer-links-container ul li {
  list-style-type: none;
}
.cid-sMyEkFmYZ3 .footer-links-container ul li:hover {
  opacity: .85;
}
.cid-sMyEkFmYZ3 .footer-links-container ul li a {
  transition: opacity .2s ease;
}
.cid-sMyEkFmYZ3 .footer-links-container ul li a p {
  padding-left: 0;
}
.cid-sMyEkFmYZ3 .footer-links-container ul li a span {
  margin: 3px 0 3px 15px;
}
.cid-sMyEkFmYZ3 .mbr-section-title:nth-child(2) {
  margin-left: 60px;
}
@media (max-width: 1200px) {
  .cid-sMyEkFmYZ3 .footer-services {
    padding: 80px 0;
  }
  .cid-sMyEkFmYZ3 .footer-links-container ul:nth-child(2) {
    margin-left: 10px;
  }
}
@media (max-width: 991px) {
  .cid-sMyEkFmYZ3 .footer-services {
    padding: 56px 0;
    border-right: none;
  }
  .cid-sMyEkFmYZ3 .footer-services ul {
    margin-bottom: 0;
  }
  .cid-sMyEkFmYZ3 .footer-links {
    border-top: none;
    padding: 56px 0 56px;
    margin-left: 0;
  }
  .cid-sMyEkFmYZ3 .footer-links p {
    padding-left: 0;
  }
  .cid-sMyEkFmYZ3 .footer-links ul {
    padding: 0;
    margin-bottom: 0;
  }
  .cid-sMyEkFmYZ3 .footer-links ul:first-child {
    margin-right: 70px;
  }
}
@media (max-width: 768px) {
  .cid-sMyEkFmYZ3 .footer-services {
    padding: 46px 0;
  }
  .cid-sMyEkFmYZ3 .footer-links {
    padding: 46px 0 46px;
  }
  .cid-sMyEkFmYZ3 .footer-links ul {
    line-height: 2;
  }
  .cid-sMyEkFmYZ3 .footer-links-container {
    display: block;
  }
  .cid-sMyEkFmYZ3 .footer-links-container ul:last-child {
    margin-left: 0;
  }
}
@media (max-width: 425px) {
  .cid-sMyEkFmYZ3 .footer-link ul {
    line-height: 1.8;
  }
  .cid-sMyEkFmYZ3 .footer-link ul:first-child {
    margin-right: 50px;
  }
}
@media (max-width: 375px) {
  .cid-sMyEkFmYZ3 .footer-services-container ul:nth-child(1) {
    margin-right: 30px;
  }
}
